# See https://www.atom.io/docs/latest/creating-a-package#menus for more details
"context-menu":
  ".overlayer":
      "Eval current expression": "nrepl:eval"

"menu": [
  {
    "label": "Packages"
    "submenu": [
      "label": "nrepl"
      "submenu": [
        { "label": "Eval", "command": "nrepl:eval" }
      ]
    ]
  }
]
